@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-lg;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}

pre code {
  font-family: 'Fira Code', 'Courier New', monospace;
}